@use "../../scss/colors" as c;

.container {
  background: c.$bg-container;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 768px;
  width: 100%;
}
