@use "./scss/colors" as c;

.main-container {
  background: c.$bg-container;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 32px;
}
