@use "../../scss/colors" as c;

.message {
  position: relative;
  z-index: 100;
  background: c.$bg-message;
  padding: 28px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 2.5px 2.5px 10px 0px #aaa;
  text-align: left;

  .subject-team {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;

    .subject {
      font-size: 16px;
    }

    .team {
      font-size: 15px;
    }

    .subject.rating__low {
      color: c.$text-rating-low;
    }

    .subject.rating__high {
      color: c.$text-rating-high;
    }
  }

  .question-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;

    .question {
      max-width: 500px;
      font-size: 13px;
      color: green;
    }

    .date {
      font-size: 13px;
    }
  }

  .text {
    font-size: 14px;
  }
}

.message-placeholder {
  background: white;
  box-shadow: 2.5px 2.5px 10px 0px #aaa;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.message-label {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  border-radius: 8px;
  font-size: 13px;
  right: 16px;
  z-index: 100;
  padding: 4px 32px;

  &.rating__high {
    background: red;
  }

  &.rating__low {
    background: blue;
  }
}
